In [1]:
import dvc.api

version='v4'
data6=dvc.api.get_url(path='data/AdSmartABdata.csv',repo='https://github.com/Blvisse/ABtesting',rev='cbf35f6e43a99698ba53718ed8a8c8da8f3da722')

In [4]:
import pandas as pd
data=pd.read_csv(data6)

In [5]:
data

,auction_id,experiment,date,hour,device_make,platform_os,yes,no
0,0008ef63-77a7-448b-bd1e-075f42c55e39,exposed,2020-07-10,8,Generic Smartphone,6,0,0
1,000eabc5-17ce-4137-8efe-44734d914446,exposed,2020-07-07,10,Generic Smartphone,6,0,0
2,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,6,0,1
3,00187412-2932-4542-a8ef-3633901c98d9,control,2020-07-03,15,Samsung SM-A705FN,6,0,0
4,001a7785-d3fe-4e11-a344-c8735acacc2c,control,2020-07-03,15,Generic Smartphone,6,0,0
...,...,...,...,...,...,...,...,...
8072,ffea24ec-cec1-43fb-b1d1-8f93828c2be2,exposed,2020-07-05,7,Generic Smartphone,6,0,0
8073,ffea3210-2c3e-426f-a77d-0aa72e73b20f,control,2020-07-03,15,Generic Smartphone,6,0,0
8074,ffeaa0f1-1d72-4ba9-afb4-314b3b00a7c7,control,2020-07-04,9,Generic Smartphone,6,0,0
8075,ffeeed62-3f7c-4a6e-8ba7-95d303d40969,exposed,2020-07-05,15,Samsung SM-A515F,6,0,0
8076,fffbb9ff-568a-41a5-a0c3-6866592f80d8,control,2020-07-10,14,Samsung SM-G960F,6,0,0

In [7]:
import numpy as np

data['positive_engagement']=np.where((data['yes']==1)& (data['no']==0),1,0)
data.drop(labels=['auction_id','yes','no','date'],axis=1,inplace=True)

In [8]:
data

     experiment  hour         device_make  platform_os  positive_engagement
0       exposed     8  Generic Smartphone            6                    0
1       exposed    10  Generic Smartphone            6                    0
2       exposed     2               E5823            6                    0
3       control    15   Samsung SM-A705FN            6                    0
4       control    15  Generic Smartphone            6                    0
...         ...   ...                 ...          ...                  ...
8072    exposed     7  Generic Smartphone            6                    0
8073    control    15  Generic Smartphone            6                    0
8074    control     9  Generic Smartphone            6                    0
8075    exposed    15    Samsung SM-A515F            6                    0
8076    control    14    Samsung SM-G960F            6                    0

[8077 rows x 5 columns]

In [10]:
X=data.drop(labels=['positive_engagement'],axis=1)

In [11]:
X

     experiment  hour         device_make  platform_os
0       exposed     8  Generic Smartphone            6
1       exposed    10  Generic Smartphone            6
2       exposed     2               E5823            6
3       control    15   Samsung SM-A705FN            6
4       control    15  Generic Smartphone            6
...         ...   ...                 ...          ...
8072    exposed     7  Generic Smartphone            6
8073    control    15  Generic Smartphone            6
8074    control     9  Generic Smartphone            6
8075    exposed    15    Samsung SM-A515F            6
8076    control    14    Samsung SM-G960F            6

[8077 rows x 4 columns]

In [12]:
y=data['positive_engagement']

In [13]:
y

0       0
1       0
2       0
3       0
4       0
       ..
8072    0
8073    0
8074    0
8075    0
8076    0
Name: positive_engagement, Length: 8077, dtype: int32

In [28]:
from sklearn.model_selection import train_test_split,KFold

X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0)

In [30]:
X_train.shape

(6057, 4)

In [33]:
kf=KFold(n_splits=5)
for train_index, test_index in kf.split(X):
    

    print("Train:", train_index, "Validation:",test_index)
    X_train, y_train = X.loc[train_index], y.loc[train_index] 
    X_test, y_test = X.loc[test_index], y.loc[test_index]

Train: [1616 1617 1618 ... 8074 8075 8076] Validation: [   0    1    2 ... 1613 1614 1615]
Train: [   0    1    2 ... 8074 8075 8076] Validation: [1616 1617 1618 ... 3229 3230 3231]
Train: [   0    1    2 ... 8074 8075 8076] Validation: [3232 3233 3234 ... 4844 4845 4846]
Train: [   0    1    2 ... 8074 8075 8076] Validation: [4847 4848 4849 ... 6459 6460 6461]
Train: [   0    1    2 ... 6459 6460 6461] Validation: [6462 6463 6464 ... 8074 8075 8076]

In [26]:
X.loc[1454]

experiment                exposed
hour                            3
device_make    Generic Smartphone
platform_os                     6
Name: 1454, dtype: object

In [34]:
for train_index, test_index in kf.split(X):
    
            print("Train:", train_index, "Validation:",test_index)
            X_train, y_train = X.loc[train_index], y.loc[train_index] 
            X_test, y_test = X.loc[test_index], y.loc[test_index]

Train: [1616 1617 1618 ... 8074 8075 8076] Validation: [   0    1    2 ... 1613 1614 1615]
Train: [   0    1    2 ... 8074 8075 8076] Validation: [1616 1617 1618 ... 3229 3230 3231]
Train: [   0    1    2 ... 8074 8075 8076] Validation: [3232 3233 3234 ... 4844 4845 4846]
Train: [   0    1    2 ... 8074 8075 8076] Validation: [4847 4848 4849 ... 6459 6460 6461]
Train: [   0    1    2 ... 6459 6460 6461] Validation: [6462 6463 6464 ... 8074 8075 8076]